@tailwind base;
@tailwind components;
@tailwind utilities;

.mask h1 {
  font-family: "Anta", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  transition: color 0.3s;
}

.gallery{
}

.project {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.index {
  flex: 1;
  padding-left: 2rem;
  height: 0;
}

.images {
  flex: 6;
  display: flex;
  background-color: white;
  overflow: hidden;
}

.img img {
  opacity: 0.9;
}

.index .mask {
  position: absolute;
  top: 0;
  left: 2em;
  height: 70px;
  overflow: hidden;
  will-change: transform;
}

.index .mask h1 {
  will-change: transform;
}

.indez .mask h1 span {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.digit-wrapper,
.digit-wrapper span {
  display: inline-block;
  position: relative;
  will-change: transform;
}

.project-names {
  position: fixed;
  width: 200px;
  left: 45%;
  top: 30vh;
  transform: translateX(0%);
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.symbol {
    width: 12px;
    height: 12px;
    background-color: #000;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.name {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 16px;
}

